* {box-sizing: border-box;
}

.box {background-color: lightgray;
width: 550px;
border: 15px solid green;
padding 150px;
margin:50px;}

html {text-align: left;
font-family: 'Vollkorn Regular'; }

/* Element Selectors */

p {
  color: red;
    text-align: center;}

article h4 {color: green;}

body {background-color: bisque;}


/* Element + Class Selector */

p.center {
  text-align: center;
    color: red;}

p.left {text-align:left;
    color: blue;}

p.justify {text-align: justify;}


/* Class Selectors */

.name {background-color: black;
        color: beige;
        font-family: Times New Roman ;
    text-align: center;} 
  

.center {
  text-align: center;
    color: red;}

.left {
  text-align: left;
    color: red;}


.img {width:auto; 
    text-align:right; 
    padding:300px; }

     
.rsw {float: right;
    width: 60%;}

.csw {float: center;
    width: 60%;}

.lsw {float: left;
    width: 40%;}  


row:after {clear: both;
    content: "";
    display: table;}

col:after {clear:both;
    content: "";
    display:table;}
    
.exp {background-color: black;
        color: blue;
        font-family: monospace;
    text-align: justify;}


/*

Create an externally-linked CSS file to contain the style and layout rules for your resume.html file. 

Your CSS file should:
-demonstrate correct syntax and HTML link structure
-have at least 3 different ways of selecting/targeting elements, using html tags and classes
-define at least 10 different attributes of your html page
-demonstrate knowledge of the CSS box model
-affect the font of the entire document (GOOGLE FONTS)

*/