* {box-sizing: border-box;
}

.box {background-color: lightgray;
width: 550px;
border: 15px solid green;
padding 150px;
margin:50px;}

html {text-align: left;
font-family: 'Vollkorn Regular'; }

/* Element Selectors */


p {
  color: red;
    font-weight: bold;}

article {color: purple;}

body {background-color: bisque;}


/* Element + Class Selector */


p.left {text-align:left;
    color: blue;}

p.justify {text-align: justify;}


/* Class Selectors */

.name {background-color: black;
        color: beige;
        font-family: Times New Roman ;
    text-align: center;}   

.scott {
  font-size: 50px;
    font-weight: bolder;}

.left {
  text-align: left;
    color: red;}


.img {width:auto; 
    text-align:right; 
    padding:300px; }

     
.rsw {float: right;
    width: 60%;}

.csw {float: center;
    width: 60%;}

.lsw {float: left;
    width: 40%;}  


row:after {clear: both;
    content: "";
    display: table;}

col:after {clear:both;
    content: "";
    display:table;}
    
.exp {background-color: black;
        color: blue;
        font-family: monospace;
    text-align: justify;}


